* {
  box-sizing: border-box;
}

body{
	font-family: 'Oswald', sans-serif;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
}

ul{
	display: inline-block;
    list-style-type: none;
}

/*colores*/
.whitebg{
	background-color: #EFEFEF;
}

.whitetxt{
	color: #EFEFEF;
}

.blacktxt{
	color: #363636;
}

.blackbg{
	background-color: #363636;
}
