* {
  box-sizing: border-box;
}

body{
  background: rgb(201, 194, 194);
  font-family: Yuji, sans-serif; 
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
}

ul{
	display: inline-block;
    list-style-type: none;
}

footer{
	margin-bottom: 2%;
	text-align: center;
}

footer h5 {
  background-color: rgba(0, 0, 0, .25);
  color: white;
  justify-content:space-around;
  flex-wrap: wrap;
  align-content: space-around;
}


/*colores*/
.whitebg{
	background-color: #EFEFEF;
}

.whitetxt{
	color: #EFEFEF;
}

.blacktxt{
	color: #363636;
}

.blackbg{
	background-color: #363636;
}

/*sigue*/

.contenidocentrado{
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left: auto;
	margin-right: auto;
}

.centro{
	text-align: center;
}

*{
  padding: 0;
  margin: 0;
  letter-spacing: 1px;;
  
}

/* Parametros generales*/
p {
  font-family: Work, sans-serif;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
* {
  box-sizing: border-box;
}

body{
	font-family: Yuji, sans-serif; 
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
  text-align: center;
  background: linear-gradient(-45deg, #ff6c00b5, #ff970091, #f57f27cc, #f5872763);  
  padding: 10vh;
}

ul{
	display: inline-block;
  list-style-type: none;
}

.nav-item{
	padding-right: 10vw;
}

.contenidocentrado{
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left: auto;
	margin-right: auto;
}

.centro{
	text-align: center;
}


.justify-content-sm-center .col-sm-3{
	margin-top: 1.7vh;
	margin-bottom: 1.7vh;
}

footer h4{
		background-color: rgba(0, 0, 0, .25);
		padding: 10vh;
		margin-bottom: 1vh;
}






/*colores*/
.whitebg{
	background-color: #EFEFEF;
}

.whitetxt{
	color: #EFEFEF;
}

.blacktxt{
	color: #363636;
}

.blackbg{
	background-color: #363636;
}
.italic {
  font-style: italic;
}

header {
  text-align: center;
  background: linear-gradient(-45deg, #ff6c00b5, #ff970091, #f57f27cc, #f5872763);  
  border-radius: 1%;
}

#tituloPrincipal{
  left: 40%;
  top: 10%;
}

#tituloPrincipal h1:hover, h2:hover {
  color: blanchedalmond;
}
